/*clase maestra*/
 .boton1 {
   background-color: #A8DADC;
   border: 1px solid #1D3557;
   color: #1D3557;
   padding: 10px;
   text-align:center;
   font-size: 14px;
   font-family: 'Comic Neue', cursive;
   cursor:pointer;
   transition-duration: 0.2s;
   position:sticky;
   top: 10px;
 }

/*clases secundarias*/
 .boton2 {

 }
 .boton3 {

 }
 .boton4 {

 }
 .boton5 {

 }
 .boton6 {

 }
 .boton7 {

 }

/*clases especiales*/
 .boton1:hover{
   background-color:#457B9D;
   color:#F1FAEE;
 }

 .activo {
   background-color: blue;
   color: white;
   border: 1px solid blue;
 }

 /*fondo de la pagina*/
 body{
   background: #F1FAEE;
 }
